<p>
  <strong><%= User.human_attribute_name(:email) %>:</strong>
  <%= @user.email %>
</p>

<p>
  <strong><%= User.human_attribute_name(:zip) %>:</strong>
  <%= @user.zip %>
</p>

<p>
  <strong><%= User.human_attribute_name(:address) %>:</strong>
  <%= @user.address %>
</p>

<p>
  <strong><%= User.human_attribute_name(:profile) %>:</strong>
  <%= @user.profile %>
</p>

<%= link_to t("link.Back"), books_path %>
