<% unless current_user == @user %>
  <% if current_user.following?(@user) %>
    <%= render "unfollow" %>
  <% else %>
    <%= render "follow" %>
  <% end %>
<% end %>

<p>
  <strong><%= User.human_attribute_name(:name) %>:</strong>
  <%= @user.name %>
</p>

<p>
  <strong><%= User.human_attribute_name(:email) %>:</strong>
  <%= @user.email %>
</p>

<p>
  <strong><%= User.human_attribute_name(:zip) %>:</strong>
  <%= @user.zip %>
</p>

<p>
  <strong><%= User.human_attribute_name(:address) %>:</strong>
  <%= @user.address %>
</p>

<p>
  <strong><%= User.human_attribute_name(:profile) %>:</strong>
  <%= @user.profile %>
</p>

<p>
  <strong><%= User.human_attribute_name(:image) %>:</strong><br>
  <%= image_tag @user.image if @user.image.attached? %>
</p>

<%= link_to t("link.Back"), books_path %>
