<p id="notice"><%= notice %></p>

<p>
  <strong><%= User.human_attribute_name(:name) %>:</strong>
  <%= link_to @book.user.name, user_path(@book.user) %>
</p>

<p>
  <strong><%= Book.human_attribute_name(:title) %>:</strong>
  <%= @book.title %>
</p>

<p>
  <strong><%= Book.human_attribute_name(:memo) %>:</strong>
  <%= @book.memo %>
</p>

<p>
  <strong><%= Book.human_attribute_name(:author) %>:</strong>
  <%= @book.author %>
</p>

<p>
  <strong><%= Book.human_attribute_name(:picture) %>:</strong>
  <%= image_tag(@book.picture_url) if @book.picture.present? %>
</p>

<% if @book.created_by?(current_user) %>
  <%= link_to t("link.Edit"), edit_book_path(@book) %> |
<% end %>
<%= link_to t("link.Back"), books_path %>
